APP_NAME = "contexthub_organization_service"
APP_VERSION = "0.1.0"
PORT = 8001

DATABASE_URL = "postgresql://user:password@localhost:5432/organization_db"

JWT_PUBLIC_KEY_PATH = "keys/jwt_public.pem"
JWT_ALGORITHM = "RS256"

USER_SERVICE_HOST = "http://localhost:8000/internal/api/v1"
USER_SERVICE_NAME = "Contexthub_Auth_Service"
USER_SERVICE_TIMEOUT = 30
USER_SERVICE_RETRY_COUNT = 3
